.icon-color {
  fill: #800080;
}

.App {
  display: flex;
  font-size: 15px;
  font-family: "Comic Sans MS", serif;
  align-items: flex-start;
}
.App .dialog {
  z-index: 2;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#stream {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  width: 2em;
  border-left: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
  border-bottom: 1px solid #e6ecf0;
  margin: 0 1em 1em;
  position: relative;
}
#stream #stream-title {
  position: sticky;
  top: 0;
  width: 100%;
  color: #800080;
  z-index: 1;
  background: white;
  border-bottom: 1px solid #e6ecf0;
  margin: 0;
  padding-bottom: 1em;
  padding-top: 0.5em;
}
#stream #writeTweet {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
#stream #writeTweet .tweet-header {
  padding: 1em 0 0 0;
  display: flex;
}
#stream #writeTweet .tweet-header .profile-img {
  width: 3em;
  height: 100%;
  border-radius: 50%;
  margin: 0 2% 0 1%;
}
#stream #writeTweet .tweet-title {
  font-weight: bold;
}
#stream #writeTweet #writeTweetText {
  width: 98%;
}
#stream #writeTweet .tweet-actions {
  display: flex;
  justify-content: space-between;
  margin-left: 5em;
  margin-right: 4em;
}
#stream #writeTweet .tweet-actions .tweet-action {
  border: none;
  background: none;
  width: 3em;
  height: 3em;
  align-items: flex-start;
  border-radius: 2em;
}
#stream #writeTweet .tweet-actions .tweet-action > * {
  pointer-events: none;
}
#stream #writeTweet .tweet-actions .tweet-action:hover {
  background: #e9bfff;
  justify-content: center;
}
#stream #writeTweet .tweet-button {
  background: #e9bfff;
  border-radius: 3em;
  border: none;
  width: 15%;
  height: 3em;
}
#stream #writeTweet .tweet-button > * {
  pointer-events: none;
}
#stream #writeTweet .disabled {
  pointer-events: none;
  opacity: 0.65;
}
#stream .tweet {
  display: flex;
  flex-direction: column;
  width: border-box;
  border-top: 1px solid #e6ecf0;
  border-bottom: 1px solid #e6ecf0;
}
#stream .tweet:hover {
  background: #f3f3f3;
}
#stream .tweet .tweet-header {
  padding: 1em 0 0 0;
  display: flex;
}
#stream .tweet .tweet-header .profile-img {
  width: 3em;
  height: 100%;
  border-radius: 50%;
  margin: 0 2% 0 1%;
}
#stream .tweet .tweet-title {
  font-weight: bold;
}
#stream .tweet .tweet-text {
  margin-right: 2em;
  margin-left: 5em;
  width: border-box;
  white-space: pre-line;
}
#stream .tweet .tweet-attachment {
  align-self: flex-end;
  max-width: 50%;
  max-height: 10%;
  width: 80%;
  margin-right: 5em;
  margin-bottom: 1em;
}
#stream .tweet .tweet-attachment > * {
  width: 100%;
  border-radius: 2em;
}
#stream .tweet .tweet-actions {
  display: flex;
  justify-content: flex-start;
  margin-left: 5em;
  margin-right: 4em;
}
#stream .tweet .tweet-actions .tweet-action {
  border: none;
  background: none;
  width: 3em;
  height: 3em;
  align-items: flex-start;
  border-radius: 2em;
}
#stream .tweet .tweet-actions .tweet-action > * {
  pointer-events: none;
}
#stream .tweet .tweet-actions .tweet-action:hover {
  background: #e9bfff;
  justify-content: center;
}
#stream .tweet .tweet-actions .liked:first-child {
  background: #e9bfff;
}

#menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1em;
  margin: 0 1em 1em;
}
#menu .menu-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 3em;
  width: 70%;
  align-items: center;
  margin: 1%;
  border-radius: 3em;
  background: none;
  border: none;
}
#menu .menu-button:hover {
  background: #e9bfff;
}
#menu .menu-button .button-label {
  font-family: "Comic Sans MS", serif;
  font-size: 90%;
}
#menu .menu-button .button-icon {
  margin: 0 2% 0 10%;
}
#menu .menu-button .profile-img {
  width: 3em;
  height: 100%;
  border-radius: 50%;
  margin: 0 2% 0 3%;
}
#menu .menu-icon {
  width: 2.5em;
  height: 2.5em;
  margin: 0 0 0 1em;
  align-self: flex-start;
}
#menu .tweet-button {
  background: #e9bfff;
  justify-content: center;
}

#follow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1em;
  margin: 0 1em 1em;
}
#follow #search {
  background: #f7ecff;
  border-radius: 2em;
  border: none;
  display: flex;
  align-items: center;
  height: 2.5em;
}
#follow #search #search-icon {
  margin-left: 1em;
}
#follow #search #search-input {
  background: none;
  border: none;
  height: 2.5em;
  width: 80%;
}
#follow #follow-suggestions {
  background: #f7ecff;
  border-radius: 2em;
  border: none;
  margin-top: 1em;
}
#follow #follow-suggestions #follow-suggestions-title {
  padding: 1em;
  border-bottom: 2px solid #e6ecf0;
  margin-top: 0;
  margin-bottom: 0;
}
#follow #follow-suggestions .follow-suggestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 0;
}
#follow #follow-suggestions .follow-suggestion .follow-suggestion-header {
  padding: 1em 0 0 0;
  display: flex;
}
#follow #follow-suggestions .follow-suggestion .follow-suggestion-header .profile-img {
  width: 3em;
  height: 100%;
  border-radius: 50%;
  margin: 0 10% 0 10%;
}
#follow #follow-suggestions .follow-suggestion .follow-button {
  height: 80%;
  border-radius: 2em;
  margin-right: 1em;
  width: 35%;
  background: none;
  border: 3px solid #e6ecf0;
}

#profilePage {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  width: 2em;
  border-left: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
  margin: 0 1em 1em;
  position: relative;
}
#profilePage .profile-header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background: white;
  border-bottom: 1px solid #e6ecf0;
  margin: 0;
  align-items: center;
}
#profilePage .profile-header .button {
  height: 10%;
  width: 5%;
  padding: 1%;
  border-radius: 3em;
  background: none;
  border: none;
}
#profilePage .profile-header .button > * {
  pointer-events: none;
}
#profilePage .profile-header .button:hover {
  background: #e9bfff;
  justify-content: center;
}
#profilePage .profile-header #profileTitle {
  color: #800080;
  margin: 0;
}
#profilePage .profile-header #tweetNumber {
  margin: 0;
}
#profilePage #profile {
  border-bottom: 1px solid #e6ecf0;
}
#profilePage #profile .profile-header {
  height: 20em;
}
#profilePage #profile .profile-header .background-img {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 0;
  margin: 0;
}
#profilePage #profile .profile-header .profile-img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px white solid;
  background: none;
  position: absolute;
  top: 45%;
  left: 5%;
}
#profilePage #profile .profile-header .edit-button {
  border-radius: 3em;
  background: none;
  border: 5px solid #e9bfff;
  position: absolute;
  bottom: 10%;
  right: 5%;
}
#profilePage #profile .profile-header .edit-button .button-label {
  font-family: "Comic Sans MS", serif;
  font-size: 1.5em;
}
#profilePage #profile #profileName {
  margin-left: 2em;
  color: #800080;
}
#profilePage #profile #bio {
  margin-right: 5em;
  margin-left: 2em;
  width: border-box;
}
#profilePage #profile #metadata {
  display: flex;
}
#profilePage #profile #metadata .metadata {
  margin-left: 2%;
}
#profilePage #profile #follow-metadata {
  display: flex;
  margin: 1%;
}
#profilePage #profile #follow-metadata .metadata {
  margin-left: 2%;
}

#editProfile {
  position: absolute;
  top: 10%;
  width: 50%;
  border: 2px solid #e6ecf0;
  border-radius: 2em;
}
#editProfile .header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background: white;
  border-bottom: 1px solid #e6ecf0;
  margin: 0;
  align-items: center;
}
#editProfile .header .button {
  height: 10%;
  width: 5%;
  padding: 1%;
  border-radius: 3em;
  background: none;
  border: none;
}
#editProfile .header .button > * {
  pointer-events: none;
}
#editProfile .header .button:hover {
  background: #e9bfff;
  justify-content: center;
}
#editProfile .header .save-button {
  border: 5px solid #e9bfff;
  position: absolute;
  border-radius: 3em;
  background: none;
  right: 5%;
}
#editProfile .header .save-button .button-label {
  font-family: "Comic Sans MS", serif;
  font-size: 1.5em;
}
#editProfile #edit-profile-form .edit-img {
  position: relative;
  height: 15em;
}
#editProfile #edit-profile-form .edit-img .background-img {
  width: 100%;
  height: 70%;
  position: relative;
  top: 0;
  margin: 0;
}
#editProfile #edit-profile-form .edit-img #edit-background-img-warp {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
#editProfile #edit-profile-form .edit-img .profile-img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px white solid;
  background: none;
  position: absolute;
  top: 30%;
  left: 5%;
}
#editProfile #edit-profile-form .edit-img #edit-profile-img-warp {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  position: absolute;
  border: 5px white solid;
  top: 30%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
#editProfile #edit-profile-form .edit-img .edit-img {
  width: 3em;
  height: 3em;
}
#editProfile #edit-profile-form .input {
  background-color: #f7ecff;
  margin-bottom: 1%;
}
#editProfile #edit-profile-form .input label {
  margin-left: 1%;
  font-weight: bold;
}
#editProfile #edit-profile-form .input input {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border: none;
  border-bottom: 3px solid #800080;
  background: none;
  overflow-wrap: break-word;
}
#editProfile #edit-profile-form .input .size {
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
}

/*# sourceMappingURL=style.css.map */
