$border-color: #e6ecf0;
$button-color: #e9bfff;
$main-color: #800080;
$tweet-color: #f3f3f3;
$follow-color: #f7ecff;
$font-color: #b4b4b4;
$font: "Comic Sans MS", serif;

.icon-color {
  fill: $main-color;
}

.App {
  display: flex;
  font-size: 15px;
  font-family: $font;
  align-items: flex-start;

  .dialog {
    z-index: 2;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

#stream {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  width: 2em;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  margin: 0 1em 1em;
  position: relative;

  #stream-title {
    position: sticky;
    top: 0;
    width: 100%;
    color: $main-color;
    z-index: 1;
    background: white;
    border-bottom: 1px solid $border-color;
    margin: 0;
    padding-bottom: 1em;
    padding-top: 0.5em;
  }

  #writeTweet {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    //border-bottom: 1px solid $border-color;

    .tweet-header {
      padding: 1em 0 0 0;
      display: flex;

      .profile-img {
        width: 3em;
        height: 100%;
        border-radius: 50%;
        margin: 0 2% 0 1%;
      }
    }

    .tweet-title {
      font-weight: bold;
    }

    #writeTweetText {
      width: 98%;
    }

    .tweet-actions {
      display: flex;
      justify-content: space-between;
      margin-left: 5em;
      margin-right: 4em;

      .tweet-action {
        & > * {
          pointer-events: none;
        }

        &:hover {
          background: $button-color;
          justify-content: center;
        }

        border: none;
        background: none;
        width: 3em;
        height: 3em;
        align-items: flex-start;
        border-radius: 2em;
      }
    }

    .tweet-button {
      background: $button-color;
      border-radius: 3em;
      border: none;
      width: 15%;
      height: 3em;

      & > * {
        pointer-events: none;
      }
    }

    .disabled {
      pointer-events: none;
      opacity: 0.65;
    }
  }

  .tweet {
    display: flex;
    flex-direction: column;
    width: border-box;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    &:hover {
      background: $tweet-color;
    }

    .tweet-header {
      padding: 1em 0 0 0;
      display: flex;

      .profile-img {
        width: 3em;
        height: 100%;
        border-radius: 50%;
        margin: 0 2% 0 1%;
      }
    }

    .tweet-title {
      font-weight: bold;
    }

    .tweet-text {
      margin-right: 2em;
      margin-left: 5em;
      width: border-box;
      white-space: pre-line;
    }

    .tweet-attachment {
      align-self: flex-end;
      max-width: 50%;
      max-height: 10%;
      width: 80%;
      margin-right: 5em;
      margin-bottom: 1em;

      & > * {
        width: 100%;
        border-radius: 2em;
      }
    }

    .tweet-actions {
      display: flex;
      justify-content: flex-start;
      margin-left: 5em;
      margin-right: 4em;

      .tweet-action {
        & > * {
          pointer-events: none;
        }

        &:hover {
          background: $button-color;
          justify-content: center;
        }

        border: none;
        background: none;
        width: 3em;
        height: 3em;
        align-items: flex-start;
        border-radius: 2em;
      }

      .liked {
        &:first-child {
          background: $button-color;
        }
      }
    }
  }
}

#menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1em;
  margin: 0 1em 1em;

  .menu-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 3em;
    width: 70%;
    align-items: center;
    margin: 1%;
    border-radius: 3em;
    background: none;
    border: none;

    &:hover {
      background: $button-color;
    }

    .button-label {
      font-family: $font;
      font-size: 90%;
      white-space: pre;
    }

    .button-icon {
      margin: 0 2% 0 10%;
    }

    .profile-img {
      width: 3em;
      height: 100%;
      border-radius: 50%;
      margin: 0 2% 0 3%;
    }
  }

  .menu-icon {
    width: 2.5em;
    height: 2.5em;
    margin: 0 0 0 1em;
    align-self: flex-start;
  }

  .tweet-button {
    background: $button-color;
    justify-content: center;
  }
}

#follow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1em;
  margin: 0 1em 1em;

  #search {
    background: $follow-color;
    border-radius: 2em;
    border: none;
    display: flex;
    align-items: center;
    height: 2.5em;

    #search-icon {
      margin-left: 1em;
    }

    #search-input {
      background: none;
      border: none;
      height: 2.5em;
      width: 80%;
    }

  }

  #follow-suggestions {
    background: $follow-color;
    border-radius: 2em;
    border: none;
    margin-top: 1em;


    #follow-suggestions-title {
      padding: 1em;
      border-bottom: 2px solid $border-color;
      margin-top: 0;
      margin-bottom: 0;
    }

    .follow-suggestion {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      left: 0;

      .follow-suggestion-header {
        padding: 1em 0 0 0;
        display: flex;

        .profile-img {
          width: 3em;
          height: 100%;
          border-radius: 50%;
          margin: 0 10% 0 10%;
        }
      }

      .follow-button {
        height: 80%;
        border-radius: 2em;
        margin-right: 1em;
        width: 35%;
        background: none;
        border: 3px solid $border-color;
      }
    }
  }
}

#profilePage {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  width: 2em;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  margin: 0 1em 1em;
  position: relative;

  .profile-header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background: white;
    border-bottom: 1px solid $border-color;
    margin: 0;
    align-items: center;

    .button {
      height: 100%;
      width: 3%;
      padding: 1%;
      border-radius: 3em;
      background: none;
      border: none;

      & > * {
        pointer-events: none;
      }

      &:hover {
        background: $button-color;
        justify-content: center;
      }
    }

    #profileTitle {
      color: $main-color;
      margin: 0
    }

    #tweetNumber {
      margin: 0
    }
  }

  #profile {
    border-bottom: 1px solid $border-color;

    .profile-header {
      height: 20em;

      .background-img {
        width: 100%;
        height: 70%;
        position: absolute;
        top: 0;
        margin: 0;
      }

      .profile-img {
        width: 10em;
        height: 10em;
        border-radius: 50%;
        border: 5px white solid;
        background: none;
        position: absolute;
        top: 45%;
        left: 5%;
      }

      .edit-button {
        border-radius: 3em;
        background: none;
        border: 5px solid $button-color;
        position: absolute;
        bottom: 10%;
        right: 5%;

        .button-label {
          font-family: $font;
          font-size: 1.5em;
        }
      }
    }

    #profileName {
      margin-left: 2em;
      color: $main-color;
    }

    #bio {
      margin-right: 5em;
      margin-left: 2em;
      width: border-box;
    }

    #metadata {
      display: flex;

      .metadata {
        margin-left: 2%;
      }
    }

    #follow-metadata {
      display: flex;
      margin: 1%;

      .metadata {
        margin-left: 2%;
      }
    }
  }
}

#editProfile {
  position: absolute;
  top: 10%;
  width: 50%;
  border: 2px solid $border-color;
  border-radius: 2em;

  .header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background: white;
    border-bottom: 1px solid $border-color;
    margin: 0;
    align-items: center;

    .button {
      height: 100%;
      width: 100%;
      padding: 10%;
      border-radius: 3em;
      background: none;
      border: none;

      & > * {
        pointer-events: none;
      }

      &:hover {
        background: $button-color;
        justify-content: center;
      }
    }

    .save-button {
      border: 5px solid $button-color;
      position: absolute;
      border-radius: 3em;
      background: none;
      right: 5%;
      top: 10%;

      .button-label {
        font-family: $font;
        font-size: 1.5em;
      }
    }
  }

  #edit-profile-form {
    .edit-img {
      position: relative;
      height: 15em;

      .background-img {
        width: 100%;
        height: 70%;
        position: relative;
        top: 0;
        margin: 0;
      }

      #edit-background-img-warp {
        width: 100%;
        height: 70%;
        position: absolute;
        top: 0;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .profile-img {
        width: 10em;
        height: 10em;
        border-radius: 50%;
        border: 5px white solid;
        background: none;
        position: absolute;
        top: 30%;
        left: 5%;
      }

      #edit-profile-img-warp {
        width: 10em;
        height: 10em;
        border-radius: 50%;
        position: absolute;
        border: 5px white solid;
        top: 30%;
        left: 5%;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .edit-img {
        width: 3em;
        height: 3em;
      }
    }

    .input {
      background-color: $follow-color;
      margin-bottom: 1%;

      label {
        margin-left: 1%;
        font-weight: bold;
      }

      input {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        border: none;
        border-bottom: 3px solid $main-color;
        background: none;
        overflow-wrap: break-word;
      }

      .size {
        display: flex;
        justify-content: flex-end;
        margin-right: 2%;
      }
    }
  }
}

#notifications {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  width: 2em;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  margin: 0 1em 1em;
  position: relative;

  #notifications-title {
    position: sticky;
    top: 0;
    width: 100%;
    color: $main-color;
    z-index: 1;
    background: white;
    border-bottom: 1px solid $border-color;
    margin: 0;
    padding-bottom: 1em;
    padding-top: 0.5em;
  }

  .notification {
    display: flex;
    flex-direction: column;
    width: border-box;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    &:hover {
      background: $tweet-color;
    }

    .notification-header {
      padding: 1em 0 0 0;
      display: flex;

      .notification-type {
        margin: 0 1% 0 2%;
      }

      .profile-img {
        width: 3em;
        height: 100%;
        border-radius: 50%;
      }
    }

    .notification-person {
      margin-right: 2em;
      margin-left: 5em;
      margin-bottom: 0;
      width: border-box;
      white-space: pre-line;
    }

    .notification-text {
      margin-right: 2em;
      margin-left: 5em;
      margin-top: 0;
      width: border-box;
      white-space: pre-line;
      color: $font-color;
    }
  }
}

#SignInOrUp {
  display: flex;
  flex-direction: column;
  width: 70%;
  top: 5%;
  left: 15%;
  border: 1px solid $border-color;
  margin: 0 1em 1em;
  position: absolute;


  #logInForm {

    & > * {
      position: relative;
      width: 60%;
      left: 20%;
    }

    .input {
      background-color: $follow-color;
      margin-top: 1%;
      margin-bottom: 1%;

      label {
        margin-left: 1%;
        font-weight: bold;
      }

      input {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        border: none;
        border-bottom: 3px solid $main-color;
        background: none;
        overflow-wrap: break-word;
      }
    }

    .sign-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 3em;
      border-radius: 3em;
      background: $button-color;
      border: none;

      .button-label {
        font-family: $font;
        font-size: 90%;
      }
    }

    .disabled {
      pointer-events: none;
      opacity: 0.65;
    }
  }

  .link {
    align-self: center;
    margin: 1%;
  }
}